package initialize

import (
	"context"
	model "ygpt/server/model/system"
	"ygpt/server/plugin/plugin-tool/utils"
)

func Api(ctx context.Context) {
	entities := []model.SysApi{}
	utils.RegisterApis(entities...)
}
