package initialize

import (
	"context"
	model "ygpt/server/model/system"
	"ygpt/server/plugin/plugin-tool/utils"
)

func Menu(ctx context.Context) {
	entities := []model.SysBaseMenu{}
	utils.RegisterMenus(entities...)
}
